<link rel="stylesheet" type="text/css" href="__CSS__/product.css">
		<script type="text/javascript" src="__JS__/wdatepicker.js"></script>
		<style type="text/css">
		.tr-title {
			height: 30px;
			background: #E3E3E3;
			border:1px solid rgba(234, 233, 233, 0.51);
		}
		.a-pro-view-img {
			float: left;
		}

		.thumbnail-img {
			width: 60px;
			margin-right: 10px;
		}

		.cell i {
			display: block;
		}
		.remodal-bg.with-red-theme.remodal-is-opening,.remodal-bg.with-red-theme.remodal-is-opened {
			filter: none;
		}
			
		.remodal-overlay.with-red-theme {
			background-color: #f44336;
		}

		.remodal.with-red-theme {
			background: #fff;
		}

		input[type="radio"], input[type="checkbox"] {
			margin: -1px 5px 0;
			margin-left:0px;
		}
		.edit-group{
			border-bottom: 1px solid #ebebeb;
			margin-bottom:10px;
		}
		.edit-group label{	
			font-weight:normal;
		}
		.edit-group-title{
			height:15px;
			line-height:15px;
			width:140px;
			margin-top:3px;
			margin-bottom:3px;
		}
		.edit-group-button{
			border-color: #3283fa;
			border: 1px solid #bbb;
			height: 26px;
			line-height: 24px;
			padding: 0 5px;
		}
		.group-button-bg{
			background: #3283fa;
			color: #fff;
		}
		.div-pro-view-name {
			width: 100%;
			min-height: 60px;
		}
		i.hot,i.recommend,i.new{font-size:12px;margin-right:5px;font-style:normal;color:#fff;background-color:#E84C3D;border-radius:2px;padding:1px 2px;}

		.icon-qrcode:before {
		    content: "\f029";
		}
		[class^="icon-"]:before, [class*=" icon-"]:before {
		    text-decoration: inherit;
		    display: inline-block;
		    speak: none;
		}
		[class^="icon-"], [class*=" icon-"] {
		    font-family: FontAwesome;
		    font-weight: normal;
		    font-style: normal;
		    text-decoration: inherit;
		    -webkit-font-smoothing: antialiased;
		}
		.goodsCategory{
			width: 216px;
			height: 300px;
			border:1px solid #CCCCCC;
			position: absolute;
			z-index: 100;
			background: #fff;
			left: 352px;
			display: none;
			overflow-y: auto;
		}
		.goodsCategory::-webkit-scrollbar{
			width: 8px;
		} 
		.goodsCategory::-webkit-scrollbar-track{
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		    border-radius: 10px;
		    background-color: #f5f5f5;
		}
		.goodsCategory::-webkit-scrollbar-thumb{
		    /*width: 10px;*/
		    height: 20px;
		    border-radius: 10px;
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		    background-color: #ddd;
		}
		.goodsCategory ul{
			height: 280px;
			margin-top: -2px;
			margin-left: 0;
		}
		.goodsCategory ul li{
			text-align: left;
			padding:0 15px;
			line-height: 30px;
		}
		.goodsCategory ul li i{
			float: right;
			line-height: 30px;
		}
		.goodsCategory ul li:hover{
			cursor: pointer;
		}
		.goodsCategory ul li:hover,.goodsCategory ul li.selected{
			background: #00C0FF;
			color: #fff;
		}
		.two{
			left: 570px;
			border-left:0;
		}
		.three{
			left: 787px;
			width: 198px;
			border-left:0;
		}
		.selectGoodsCategory{
			width: 216px;
			height: 45px;
			border:1px solid #CCCCCC;
			position: absolute;
			z-index: 100;
			left: 352px;
			margin-top: 300px;
			border-collapse: collapse;
			background: #fff;
			display: none;
		}
		.selectGoodsCategory a{
			display: block;
			height: 30px;
			width: 100px;
			text-align: center;
			color: #fff;
			line-height: 30px;
			margin:8px;
			background: #00C0FF;
			text-decoration:none;
		}
		.RIGHT{
			min-height: 800px;
		}
		input[type=number] {    
			-moz-appearance:textfield;
		}
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {    
			-webkit-appearance: none;    
			margin: 0;
		}
		.table th, .table td {
			 vertical-align: middle; 
		}
		.recommendBox{
			width: 360px;
			display: inline-block;
			float: right;
		}
		.introduction_box{
			width: 360px;
			display: inline-block;
			float: right;
		}
		</style>
