	<div class="footer">
			<div id="faq" style="background: #eee; padding-top: 10px;">
				<div class="faq-wrapper"></div>
			</div>
			<div id="footer" class="wrapper">
				<p>
				</p>
				<p style="color:#333333; display: none;" id="bottom_copyright">Copyright © 2015-2025 六星开源商城&nbsp;版权所有 保留一切权利<br><a
					 href="http://www.sixstaredu.com" target="_blank" style="text-decoration: none;color:#333333;">湖南六星教育网络科技有限公司&nbsp;</a>
					<span>提供技术支持&nbsp;0731-8557-3019</span>
				</p>
			</div>
		</div>
